@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');
@font-face {
  font-family: 'Uni-Sans heavy';
  font-style: normal;
  
  src: url("https://raw.githubusercontent.com/marcopixel/SysDash/refs/heads/master/%40Resources/fonts/Uni-Sans-Heavy.ttf"); 
  
}
.freehi-c {
    padding: 0;
    position: fixed;
    background: none;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    white-space: normal;
}
body {
  padding:0;
  margin:0;
  white-space: none;
}
.backgroundimage {

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sexcord-title {
 font-family: Uni-Sans heavy;
 color: rgb(255, 255, 255);
 position: fixed;
  font-size: 20px;
  margin: auto;
  top: 25px;
  left: 400px;
}
.downloadbutton {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  position: fixed;
   font-size: 20px;
   margin: auto;
   top: 25px;
   left: 600px;
   border: none;
   background: none;
 }
.white-logo {
  position: fixed;
       height: 35px;
       width: auto;
       top: 20px;
       left: 350px;

}
.supporterbutton {
 position: fixed;
 font-family: Arial, Helvetica, sans-serif;
 color: rgb(255, 255, 255);
 position: fixed;
  font-size: 20px;
  margin: auto;
  top: 25px;
  left: 750px;
  border: none;
  background: none;

}
.discoverclass {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  position: fixed;
   font-size: 20px;
   margin: auto;
   top: 25px;
   left: 875px;
   border: none;
   background: none;
 

}

.questclass {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  position: fixed;
   font-size: 20px;
   margin: auto;
   top: 25px;
   left: 1025px;
   border: none;
   background: none;

}

.creatorsclass {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  position: fixed;
   font-size: 20px;
   margin: auto;
   top: 25px;
   left: 1150px;
   border: none;
   background: none;

}
.lockhi-c {
    position: fixed;
    height: 375px;
    width: 450px;
    bottom: 34%;
    right: 55%;
    white-space: normal;
   overflow: hidden;
}
.description {
  position: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 60px;
    bottom: 45%;
    right: 59%;
    width: 375px;
    color: white;
    transition: color 1s;

}

.descriptiontwo {

  position: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: px;
    bottom: 39%;
    right: 58%;
    width: 400px;
    color: white;
    transition: color 0.1s;
}

.description:hover {
   color: rgb(0, 0, 0);
   cursor:default
}

.downloadbutton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.supporterbutton:hover {
  text-decoration: underline;
  cursor: pointer;

}

.discoverclass:hover {  
  text-decoration: underline;
  cursor: pointer;

}

.questclass:hover {
  text-decoration: underline;
  cursor: pointer;

}

.creatorsclass:hover {
  text-decoration: underline;
  cursor: pointer;

}

.sexcord-title:hover {
   cursor: pointer;

}

.white-logo:hover {
  cursor:pointer
}

.haii {
  position: fixed;
  top: 20%;
   right: 30%;


}